**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.github/
**/coverage/
**/TestResults/
**/.dockerignore
**/Dockerfile
**/*.md
**/.editorconfig
**/.gitattributes
**/.gitignore
LICENSE
README.md
docs/
Bruno/
tests/
